<module>
	<rawname>certman</rawname>
	<name>Certificate Manager</name>
	<repo>standard</repo>
	<version>13.0.1alpha2</version>
	<publisher>Schmooze Com, Inc</publisher>
	<license>AGPLv3+</license>
	<licenselink>http://www.gnu.org/licenses/agpl-3.0.txt</licenselink>
	<menuitems>
		<certman>Certificate Management</certman>
	</menuitems>
	<description>
		Certificate Manager for Asterisk. Used for TLS, DTLS connection (think WebRTC and secure traffic)
	</description>
	<changelog>
		*13.0.1alpha2* Tweaks and fixes
		*13.0.1alpha1* Visual skinning changes
		*12.0.3* Update copyrights and licensing
		*12.0.2* FREEPBX-8090 Generate default cert at install time.
		*12.0.1* FREEPBX-7922 Help Text wrong for Upload Boxes
		*12.0.0alpha1* Inital Release
	</changelog>
	<category>Admin</category>
	<supported>
		<version>13.0</version>
	</supported>
	<depends>
		<phpversion>5.3.3</phpversion>
		<module>core ge 12.0.1beta6</module>
		<version>12.0.1beta22</version>
	</depends>
</module>
